<div class="items-actions" fxLayoutGap="30px"  fxLayoutAlign="space-around center">
    <button mat-fab extended color="primary" (click)="showResult()">
      <mat-icon>favorite</mat-icon>
      Show Result
    </button>
    <button mat-fab extended color="accent">
      <mat-icon><span class="material-symbols-outlined">
        frame_reload
        </span></mat-icon>
      Reload
    </button>
    <button mat-fab extended color="warn">
      <mat-icon>favorite</mat-icon>
      Warn
    </button>
  </div>